<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QtBot 0.9.9</Name>
    <Version>0.9.9</Version>
    <Title>QtBot 0.9.9 Installer</Title>
    <Publisher>Ross McTague - r3dFIVE</Publisher>
    <StartMenuDir>QtBot</StartMenuDir>
    <TargetDir>@ApplicationsDir@/QtBot</TargetDir>
</Installer>
